<div class="top-navbar">
    <div class="logo-section">
        <img src="assets/BBC.png" alt="BBC Logo" />
        <h3>BBC</h3>
    </div>
    <div class="navbar-title">Welcome to Utility Bill Center</div>
</div>
<div class="container">
    <div class="card">
        <div class="welcome-section">
            <h2>Welcome!</h2>
        </div>
        <div class="vertical-navbar">
            <ul>
                <li>
                    <a [routerLink]="['/pay-bill']" class="active">
                        <i class="fas fa-bolt"></i>
                        Pay
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/due-bill']">
                        <i class="fas fa-file-invoice-dollar"></i>
                        Due Bills
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/transaction']">
                        <i class="fas fa-history"></i>
                        Transaction History
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/wallet']">
                        <i class="fas fa-wallet"></i>
                        Wallet
                    </a>
                </li>
                <li>
                    <a (click)="confirmLogout()" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
        <!-- Add more content as needed -->
    </div>
</div>
<footer class="footer">
    <p>&copy; 2024 Utility Bill Center. All Rights Reserved.</p>
</footer>